<div class="centerPane">
  <table>
    <tr>
      <td class="label">First Names:</td>
      <td><input class="input" type="text" formControlName="firstNames" /></td>
    </tr>
    <tr>
      <td class="label">Last Names:</td>
      <td><input class="input" type="text" formControlName="lastNames" /></td>
    </tr>
    <tr>
      <td class="label">Identity Document:</td>
      <td><input class="input" type="text" formControlName="cc" /></td>
    </tr>
    <tr>
      <td class="label">Age</td>
      <td><input class="input" type="text" formControlName="age" /></td>
    </tr>
    <tr>
      <td class="label">Email</td>
      <td><input class="input" type="text" /></td>
    </tr>
    <tr>
      <td class="label">CellPhone</td>
      <td><input class="input" type="text" /></td>
    </tr>
    <tr>
      <td class="label">Adress</td>
      <td><input class="input" type="text" /></td>
    </tr>
  </table>
</div>
