<div id="formRoot" class="centerPane form-group">
  <input type="hidden" class="formControl input" [(ngModel)]="currentUser._id" />
  <table>
    <tr>
      <td class="label">Identity Document:</td>
      <td><input type="text" class="formControl input" [(ngModel)]="currentUser.cc" /></td>
    </tr>
    <tr>
      <td class="label">First Names:</td>
      <td><input type="text" class="formControl input" [(ngModel)]="currentUser.firstNames" /></td>
    </tr>
    <tr>
      <td class="label">Last Names:</td>
      <td><input type="text" class="formControl input" [(ngModel)]="currentUser.lastNames" /></td>
    </tr>
    <tr>
      <td class="label">Age</td>
      <td><input type="text" class="formControl input" [(ngModel)]="currentUser.age" /></td>
    </tr>
    <tr>
      <td class="label">Email</td>
      <td><input type="text" class="formControl input" [(ngModel)]="currentUser.email" /></td>
    </tr>
    <tr>
      <td class="label">CellPhone</td>
      <td><input type="text" class="formControl input" [(ngModel)]="currentUser.cellPhone" /></td>
    </tr>
    <tr>
      <td class="label">Adress</td>
      <td><input type="text" class="formControl input" [(ngModel)]="currentUser.address" /></td>
    </tr>
  </table>
  <table>
    <tr>
      <td>
          <span class="edit" [routerLink]="['/users-list/']">
            <button type="button" class="cancelButton buttonFrm">Volver</button>
          </span>
          <button type="button" (click)="onSubmit()" class="saveButton buttonFrm">Save</button>
      </td>      
    </tr>
    <tr>
      <td colspan="3"><button type="button" (click)="printPdfUser()" class="saveButton buttonFrm">view pdf</button></td>
    </tr>
  </table>
  <h1 *ngIf="errorShow" class="red">{{strMsg}}</h1>
  <h1 *ngIf="alertShow" class="green">{{alert}}</h1>
</div>

