<div class="centerPane">
  <input class="input" type="hidden" formControlName="_id" value="{{userData['_id']}}"/>
  <table>
    <tr>
      <td class="label">Identity Document:</td>
      <td><input class="input" type="text" formControlName="cc" value="{{userData['cc']}}"/></td>
    </tr>
    <tr>
      <td class="label">First Names:</td>
      <td><input class="input" type="text" formControlName="firstNames" value="{{userData['firstNames']}}"/></td>
    </tr>
    <tr>
      <td class="label">Last Names:</td>
      <td><input class="input" type="text" formControlName="lastNames" value="{{userData['lastNames']}}"/></td>
    </tr>
    <tr>
      <td class="label">Age</td>
      <td><input class="input" type="text" formControlName="age" value="{{userData['age']}}"/></td>
    </tr>
    <tr>
      <td class="label">Email</td>
      <td><input class="input" type="text" formControlName="email" value="{{userData['email']}}"/></td>
    </tr>
    <tr>
      <td class="label">CellPhone</td>
      <td><input class="input" type="text" formControlName="cellPhone" value="{{userData['cellPhone']}}"/></td>
    </tr>
    <tr>
      <td class="label">Adress</td>
      <td><input class="input" type="text" formControlName="address" value="{{userData['address']}}"/></td>
    </tr>
  </table>
  <table>
    <tr>
      <td>
          <span class="edit" [routerLink]="['/users-list/']">
            <button type="button" class="cancelButton buttonFrm">cancel</button>
          </span>
          <button type="button" (click)="onSubmit()" class="saveButton buttonFrm">Save</button>
      </td>      
    </tr>    
  </table>
  
</div>
