.centerPane {
  width: 60%;
  margin-left: 20%;
  background-image: linear-gradient(#ebebeb,#f3f3f3);
  border-radius: 1em;
  padding: 2em;
}

table {
  width: 80%;
  margin-left: 10%;
}

.label {
  font-family: Arial Black;
  font-size: 1.5em;
  color: #002669;
  width: 50%;
  text-align: right;
}

.input {
  background-color: rgba(0,0,0,0.0);
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  outline: none;
  font-family: Arial;
  margin-left: 10%;
}

.saveButton:hover {
  background-image: linear-gradient(#002669,#003072);
}

.buttonFrm {
  outline: none;
  width: 35%;
  color: white;
  font-family: Arial black;
  padding: 1em;
  border-radius: 1em;
  text-align: center;
  cursor: pointer;
  font-size: 1em;
  margin-left: 10%;
  border-width: 0px;
  background-image: linear-gradient(#d1d1d1,#d3d3d3);
}

.cancelButton:hover {
  background-image: linear-gradient(#810000,#a50000);
}

.red {
  width: 100%;
  text-align: center;
  color: darkred;
}

.green {
  width: 100%;
  text-align: center;
  color:green;
}
