
* {
  margin: 0%;
  padding: 0%;
  outline: none;
}

.listCont{
  width: 80%;
  margin-left: 10%;
  height: 80%;
}

.mainList {
  width: 100%;
}

.headerList {
  background-color: #001644;
}

th {
  font-family: Arial Black;
  font-size: 1em;
  color: white;
}

td {
  font-family: Arial;
}

.buttEdit {
  width:100%;
  border-width: 0px;
  background-color: #eefff8;
  border-radius: 1px 1px 1px 1px;
  color: green;
  text-align: center;
  cursor: pointer;
}

.buttDetele {
  width: 100%;
  border-width: 0px;
  background-color: #ffd7d7;
  border-radius: 1px 1px 1px 1px;
  color: darkred;
  text-align: center;
  cursor: pointer;
}

.navBar {
  width : 100%;
  background-color: #000b37;
}

.navBar {
  padding: 1em;
}

.navBar > tr > td {
  color: white;
}

.Col30 {
  width: 30%;
}

.Col40 {
  width: 40%;
}

.Col50 {
  width: 50%;
}

.Col60 {
  width: 60%;
}

.Col70 {
  width: 70%;
}

.Col80 {
  width: 80%;
}

.Col90 {
  width: 90%;
}

.Col20 {
  width: 20%;
}

.Col10 {
  width: 10%;
}

.Col5 {
  width: 8%;
}

.smallBton {
  background-color: #c2c2c2;
  font-family: Arial Black;
  border-radius: 0.2em;
  padding: 0.2em;
  cursor: pointer;
}

.ir {
  padding: 0.2em;
  font-family: Arial;
  color: black;
  border-radius: 0.5em;
  background-color: #c2c2c2;
  cursor: pointer;
  color: white;
  text-align: center;
}
